@model VmChat
@inject UserManager<CustomUser> _userManager


<div id="chat-profile-info-wrapper" class="chat-header">
	<div class="d-flex justify-content-between">
		<div class="d-flex">
			<div class="profile-img">
				@{
					if (@Model.Receiver.Profile != null)
					{
						<img src="~/assets/img/@Model.Receiver.Profile" />
					}
					else
					{
						<img src="~/assets/img/profile.png" />
					}
				}
			</div>
			<div id="profile-info">
				<h6>@Model.Receiver.Fullname</h6>
				<p>Status</p>
			</div>
		</div>
		<ul id="chat-profile-menu" class="d-flex">
			<li>
				<a href="#"><i class="fas fa-search"></i></a>
			</li>
			<li>
				<a href="#"><i class="fas fa-ellipsis-v"></i></a>
			</li>
		</ul>
	</div>
</div>
<div id="chat-messages">
	<div id="chat-messages-container" class="d-flex flex-column justify-content-end">
		<div class="chat-time">
			<span>08/01/2022</span>
		</div>

		@foreach (var message in @Model.messages)
		{
			<ul class="msg @(message.SenderId == _userManager.GetUserId(User)? "sender" : "receiver")">
				<p>@message.Content</p>
				<span>@message.CreatedTime.ToString("HH:MM")</span>
			</ul>
		}
	</div>
</div>
<div id="message-input-wrapper" class="d-flex">
	<div id="input-media">
		<a href="#">
			<i class="far fa-grin-alt"></i>
		</a>
		<a href="#">
			<i class="fas fa-paperclip"></i>
		</a>
	</div>
	<textarea type="text"
			  placeholder="Type a message"
			  id="message-input"></textarea>
	<input id="receiverId" value="@Model.Receiver.Id" hidden />
	<input id="senderId" value="@_userManager.GetUserId(User)" hidden />
	<button id="send-message-btn">
		<i class="fas fa-paper-plane"></i>
	</button>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>